.estilizacao-botao {
    @include tamanho(55px, 200px);
    border-radius: 30px;
    background-color: $tertiaryColor;
    color: $neutra;
    font-weight: bold;
    align-self: center;
    margin-top: 20px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: .5s;

    &:hover {
        transform: scale(1.1);
        transition: .5s;
    }
}